ul {
    list-style-type: none;
    background: rgb(125, 225, 125);
    margin: 50px;
    padding-top :  20px
}

li {
    background: greenyellow;
    margin: 20px;
}

ul li:nth-child(2) {
    background: crimson;
}